<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link href="/CSS/main.css" rel="stylesheet" type="text/css">
    <link href="/CSS/join.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div class="main-container">
    <div class="join">
        <img class="logo" src="/img/logo.png">
        <form name="join">
            <input type="text" class="id" name="id" placeholder="ID" required>
            <div class="idCheck" style="height: 10px; text-align: left"></div>
            <button class="confirmBtn">비밀번호 찾기</button>
        </form>
    </div>
    <div class="login"><p>계정이 있으신가요? <a href="/login">로그인</a></p></div>
</div>
<script src="/js/findPw.js"></script>
</body>
</html>